.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
}

.cart-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
}


.order-heading{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .order-heading{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
}
}

@media screen and (max-width: 480px) {
  .order-heading{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;

}
}